a {
    text-decoration: none;
    color: black;
    display: block;
}
li {
    list-style: none;
}
* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
body {
    /* min-height: 750px; */
    min-width: 500px;
}
#root {
    width: 100%;
}
input {
    outline: none;
}
html {font-size: 62.5%!important; /* 10÷16=62.5% */}
@media only screen and (min-width: 481px){
    html {
        font-size: 94%!important; /* 15.04÷16=94% */
    }
}
@media only screen and (min-width: 421px){
    html {
        font-size: 100%!important; /* 15.04÷16=94% */
    }
}
@media only screen and (min-width: 561px){
    html {
        font-size: 109%!important; /* 17.44÷16=109% */
    }
}
@media only screen and (min-width: 601px){
    html {
        font-size: 117%!important; /* 17.44÷16=109% */
    }
}
@media only screen and (min-width: 641px){
    html {
        font-size: 125%!important; /* 20÷16=125% */
    }
}